*{
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: #f0fdff;
    /* overflow-x: hidden; */
    padding:20px;
}
.lightnav{
    background-color: #D2FAFF;
    border-radius: 3px;
}
.cropped{
    height:70px;
}
.nav-link{
    font-size: 30px;
    margin-inline: 20px;
}
.navbar-toggler-icon{
    color:black;
}
#qr-section{
    display: none;
}
/* .paddingnav{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 20px;
} */
.paddingnav{
    margin-bottom: 20px;
}
.blue{
    color:#00899B;
}
a{
    color:inherit;
}
.cont{
    background-color: #ffffff;
    
}
#big-logo{
    width:80%;
    margin:20px;
   
}
#headtitle{
    text-align: center;
    margin: 0vh auto;
    /* margin-top: 25vh; */
    display: block;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    /* transform: translateX(400px); */
}
#info{
    display:none;
}
#buttons{
    text-align: center;
    margin: 0px auto;
    margin-top: 4%;
    width:fit-content;
    display: block;
    /* transform: translateX(21vw); */
    color: #00899B;
}
.butt{
    border: solid #00899B;
    margin-inline: 1em;
}
.butt:hover{
    background-color: #00899B;
    color:#D2FAFF;
}
/* .align{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
} */
.align{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#qr{
    display: block;
    justify-content: center;
    margin-left:38%;
    margin-top:6%;
}
#id{
    text-align: center;
    width: 100%;
}
#center{
    display: block;
    justify-content: center;
    text-align: center;
}
#use {
    margin-left:30%;
}

/* #f {
    margin-left:89%;
    margin-top:-55%;
}
<<<<<<< Updated upstream
=======
} */
table {
    border-collapse: collapse;
    width: 98%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D2FAFF;
  }

  

  #fname, #lname, #for, #valid{
      font-size: 40px;
  }
>>>>>>> Stashed changes
